<div class="cart__text-block">
  <h4>
    <ng-container *ngIf="order?.items.length; else emptyCart">
      You have {{ totalItemCount }} items in your cart.
    </ng-container>
    <ng-template #emptyCart>
      Looks like your cart is empty. Why not add some <a routerLink="/menu">delicious pizza</a>?
    </ng-template>
  </h4>

</div>
<div class="cart__items">
  <app-cart-item *ngFor="let item of order?.items" [item]="item.product" [quantity]="item.quantity"></app-cart-item>
</div>
<div *ngIf="order?.items.length" class="cart__text-block">
  <h4>
    Total Price
  </h4>
  <h4>
    {{ order.orderPrice }}
  </h4>
  <button igxButton="raised" (click)="placeOrder()">Place Order <igx-icon>shopping_cart</igx-icon></button>
</div>