@import "../../../shared.scss";

.cart-item {
    padding: 8px; 

    .cart-item__header {
        justify-content: center;
    }
    .cart-item__title {
        width: 50%;
        display: flex;
    }
    .cart-item__quantity {
        width: 50%;
        display: flex;
    }

    .cart-item__quantity-input {
        width: 200px;
    }

    .igx-card-header__subtitle {
        color: $gouda-yellow;
    }
}