<igx-card>
  <igx-card-header>
    <div class="cart-item__content">
        <igx-avatar [src]="product.image | imagePipe" roundShape="true" size="medium"></igx-avatar>
    </div>
    <div class="cart-item__content cart-item__content--column cart-item__content--large">
      <div class="cart-item__text--large">
        {{ product.name }}
      </div>
      <div class="cart-item__text--small">
        {{ product.price }}
      </div>
    </div>
    <div class="cart-item__content cart-item__content--row cart-item__input">
      <button igxButton="icon" [attr.aria-label]="'Remove 1 ' + product.name + ' from cart'" (click)="subtract()">
        <igx-icon>remove</igx-icon>
      </button>
      <div class="cart-item__content cart-item__content--column cart-item__digit">{{ quantity }}</div>
      <button igxButton="icon" [attr.aria-label]="'Add 1 ' + product.name + ' to cart'" (click)="add()">
        <igx-icon>add</igx-icon>
      </button>
    </div>
    <div class="cart-item__content cart-item__content--row">
      BGN {{ (product.price * quantity).toFixed(2) }}
    </div>
    <div class="cart-item__content cart-item__content--row cart-item__content--small cart-item__input">
      <button igxButton="icon" [attr.aria-label]="'Remove all ' + product.name + ' from cart'" (click)="remove()">
        <igx-icon>clear</igx-icon>
      </button>
    </div>
  </igx-card-header>
</igx-card>