<app-offers [slides]="offers"></app-offers>
<div class="links">
    <div class="links__link">
        <igx-card>
            <div class="card__content" routerLink="/menu">
                <igx-avatar src='assets/menu.jpg' roundShape="true" size="large"></igx-avatar>
                Menu
            </div>
        </igx-card>
    </div>
    <div class="links__link">
        <igx-card>
            <div class="card__content" routerLink="/mobile-app">
                <igx-avatar src='assets/phone.jpg' roundShape="true" size="large"></igx-avatar>
                Mobile App
            </div>
        </igx-card>
    </div>
    <div class="links__link">
        <igx-card>
            <div class="card__content" routerLink="/stores">
                <igx-avatar src='assets/store.jpg' roundShape="true" size="large"></igx-avatar>
                Stores
            </div>
        </igx-card>
    </div>
</div>