@import '../../../shared.scss';

:host {
    display: block;
    margin: 16px;
    width: 360px;
    height: 360px;
}

.product__image-wrapper {
    position: relative;
    overflow: hidden;
    height: 220px;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.product__order {
    display: flex;
    width: 100%;
    flex-flow: row;
    justify-content: space-around;
    align-items: flex-end;
}

.product__price {
    color: $secondary-color;
    font-size: 1.6rem;
    cursor: auto;
    :hover, :active {
        background: auto;
    }
}

.product__specifics {
    position: absolute;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    justify-self: start;
    align-self: flex-end;
    margin-top: -100px;
}

.specific {
    width: 36px;
    height: 36px;
    background-color: #eeeeeeff;
    border-radius: 2px;
    margin: 0px 8px;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}