<igx-card>
  <div *ngIf="productRef" class="product__image-wrapper" [routerLink]="['product',productRef.ref.id]">
    <div *ngIf="product.specifics?.length" class="product__specifics">
      <div *ngFor="let specific of product.specifics" class="specific" title="Contains {{ specific.toLowerCase() }}">
        {{ imageMap[specific] }}
      </div>
    </div>
    <img width="100%" [src]="product?.image | imagePipe">
  </div>
  <igx-card-header>
    <h4>
      {{ product?.name }}
    </h4>
  </igx-card-header>
  <igx-card-actions>
    <div class="product__order">
      <div  class="product__price">
          BGN {{ product?.price }}
      </div>
      <div class="product__buy">
        <button igxButton="raised" (click)="addToCart()">Add To Cart</button>
      </div>
    </div>
  </igx-card-actions>
</igx-card>