<div class="content__background">
  <div class="content__blocker">
  </div>
</div>
<div class="app">
  <igx-navbar [title]="appName">
    <igx-action-icon>
      <igx-icon (click)="goHome()" name="home-pizza" fontSet="custom-icon"></igx-icon>
    </igx-action-icon>
    <button igxButton routerLink="/menu">
      <igx-icon>restaurant_menu</igx-icon>
      &nbsp;menu
    </button>
    
    <button igxButton routerLink="/cart">
      <igx-icon>shopping_basket</igx-icon>
      &nbsp;cart
    </button>
    
    <app-login-bar profileLink></app-login-bar>
  </igx-navbar>
  <div class="content" igxFlex>
    <router-outlet></router-outlet>
  </div>
</div>