@import '../shared.scss';

:host {

  igx-navbar {
    igx-icon {
      width: 2.5rem;
      height: 2.5rem;
      font-size: 2.5rem;
      color: $gouda-yellow;
    }
  }
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  padding: 16px 0px;
  overflow: overlay;
  box-sizing: border-box;
}

@media only screen and (max-width: 1024px) {
  .content {
    padding: 16px 0px;
    justify-content: flex-start;
  }
}
.app {
  position: relative;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.content__blocker {
  z-index: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $bread-beige;
  opacity: 0.8;
}

.content__background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('/assets/pizzas/background_3.jpg');
  background-size: cover;
}

.badge {
  position: absolute;
    right: 8px;
    bottom: 8px;
    border: 1px solid $primary-color;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background: #fff;
    color: $primary-color;
}