<div *ngIf="product" class="menu-item__details">
  <div class="menu-item__title">
    <h3>{{ product.name }}</h3>
  </div>
  <div class="menu-item__image">
    <img [src]="product.image | imagePipe">
  </div>
  <div class="menu-item__bottom-container">
    <div class="menu-item__order">
      <div class="menu-item__price">
        BGN {{ product.price }}
      </div>
      <div class="menu-item__cart">
        <button igxButton="raised" (click)="addToCart()">Add To Cart</button>
      </div>
    </div>
    <div class="menu-item__specifics">
      {{ product.specifics }}
    </div>
    <div class="menu-item__description">
      {{ product.description }}
    </div>
  </div>
</div>