
@import '../../../shared.scss';

:host {
    display: block;
    width: 800px;
    height: 640px;
    overflow-y: overlay;
    padding: 24px;
    background: $primary-color;
    color: $gouda-yellow;
    border-radius: 8px;
    box-shadow: $elevation-shadow-8;

    .content__description {
        margin: 0px;
    }
}